body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEE2DC;
}

.navbar {
    background-color: #EEE2DC !important;
    font-size: x-large !important;
}

.navbar-brand {
    color: #AC3B61 !important;
    font-size: xx-large !important;
}

.nav-link {
    color: #EDC7B7 !important;
    font-style: bold !important;
}



@media only screen and (min-width: 990px) {
    .nav-link.active {
        color: #BAB2B5 !important;
        border-bottom: 3px solid #BAB2B5;
    }

    .nav-link:hover {
        color: #BAB2B5 !important;
    }
}

.nav-link.active {
    color: #BAB2B5 !important;
    /* border-bottom: 3px solid #BAB2B5; */
}

.nav-link:hover {
    color: #BAB2B5 !important;
}

.typewrite {
    font-size: 3rem;
}

center {
    margin-top: 7em !important;
    /* font-size: 2rem; */
    color: #123C69 !important;
}

.arrow-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 8em!important; */
}

/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
}

#more-arrows:hover polygon {
    fill: #fff;
    transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}

polygon {
    fill: #fff;
    transition: all 0.2s ease-out;
}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}

.card-promise {
    background-color: #EEE2DC;
    border: 0;
}

.footer>#contact {
    word-spacing: 10px;
    font-size: 2rem;
}

#headline {
    font-size: 4rem !important;
}

#interested {
    font-size: 4rem !important;
}

.img-blur {
    -webkit-filter: blur(4px);
    /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.img-unhover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img-hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.work-card:hover .card-img-work,
.work-card:focus .card-img-work {
    /* transform: scale(1.02);
  opacity:0.5; */
    -webkit-transform: scale(1.02);
    transform: scale(1.02);

    -webkit-filter: blur(3px);
    /* Chrome, Safari, Opera */
    filter: blur(3px);
}

.work-card {
    position: relative;
}

.work-btn {
    color: #EEE2DC !important;
    background-color: #123C69 !important;
    border-color: #123C69 !important;
    font-size: 1.5em;

    width: 50px;
    height: 50px;
    background-color: red;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

@media only screen and (max-width: 700px) {
    #headline {
        font-size: 2rem !important;
    }

    #interested {
        font-size: 2rem !important;
    }

    .typewrite {
        font-size: 2rem;
    }

    .footer>#contact {
        word-spacing: 5px;
        font-size: 1rem;
    }

    center {
        margin-top: 2em !important;
        /* font-size: 2rem; */
    }
}

@media only screen and (max-width: 320px) {
    .navbar {
        font-size: large !important;
    }

    .navbar-brand {
        font-size: larger !important;
    }

    .typewrite {
        font-size: 1.5rem;
    }
}